*{
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}

.gallery {
    background-color: black;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 400px 400px 400px 400px;
}

img {
    height: 100%;  
    width: 100%;
    object-fit: cover;
}

.img1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.img3 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.img4 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.img6 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.img7 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.img9 {
    grid-column-start: 2;
    grid-column-end: 4;
}